.person {
    color: rgb(9, 96, 80);
} 
.deleteButton {
    background-color: rgb(9, 96, 80);
    color: white;
    border: none;
    margin: 0 20px;
    border-radius: 5px;
    cursor: pointer;
}
.deleteButton:hover {
    background-color: rgb(91, 21, 21);
}
.form {
    display: flex;
    flex-direction: column;
    padding: 2px;
    row-gap: 10px;
}
.error {
    margin-left: 300px;
    margin-right: 300px;
    padding: 2px;
    border: 2px solid red; 
    color: red; 
    font-weight: bold; 
}